*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --background: rgba(85,214,170, .85)
}

body {
    margin: 0;
    padding:0;
    /* background: linear-gradient(to bottom, #33ccff 0%, #0066ff 100%) no-repeat; */
    /* height: 100vh; */
    font-weight: 400;
  }

  .content {
    height: 200vh;
    /* background-image: url(//unsplash.it/1000/1000); */
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
     
  }

  header {
    background: var(--background);
    margin:0;
    padding: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index:999

  }

  .logo{
    margin: 0;
    padding: 0;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left:0;
    background: var(--background);
    width: 100%;
    display: none;
  }

  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  nav a:hover {
    color: #000;
  }

  .nav-toggle:checked ~ nav{
    display: block;
  }

  .nav-toggle-label{
    position: absolute;
    top: 0;
    left:0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    position: relative;

  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before{
    bottom:7px;
  }

  
  .nav-toggle-label span::after{
    top:7px;
  }

  .nav-toggle{ 
    display: none;
  }