*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding:0;
    font-weight: 400;
    background-color: gray;
  }

  header {
    background: rgb(85,214,170);
    margin:0;
    padding: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index:999

  }

  .logo{
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left:0;
    background: var(--background);
    width: 100%;
    display: none;
  }


 nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
  }

  nav a:hover {
    color: #000;
  }

  .nav-toggle:checked ~ nav{
    display: block;
  }

 .nav-toggle-label span,
 .nav-toggle-label span::before,
 .nav-toggle-label span:after {
    content: '';
    display: block;
    background: white;
    height: 2px;
    width: 20px;
    position:relative;
 }

 .nav-toggle-label span::before{
    bottom: 7px;
 }

 .nav-toggle-label span:after {
    top: 7px;
 }

 .nav-toggle{
    display: none;
 }

 @media (min-width:800px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo {
        grid-column: 2/3;
    }

    nav {
        all:unset;
        grid-column: 3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 20px;
        margin-bottom: 0;
    }
 }

